*,
*::after,
*::before {
  box-sizing: border-box;
}

.bg-color {
  background-color: #270f36;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fef1ea;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/* hieronder begint de css voor de kaarten

CSS for the cards starts below*/

.txt-color {
  color: #fef1ea;
}

.bg-color-card {
  background-color: #fef1ea;
}

.bg-card-head {
  background-color: #f09f9c;
}

.btn {
  border-color: #f09f9c;
  font-size: 1rem;
}

.btn:hover {
  background-color: #f09f9c;
  border-color: #f09f9c;
}
/* Hieronder begint de CSS voor de klok 

Css for the clock starts below*/

.clock {
  width: 200px;
  height: 200px;
  background-color: #fef1ea;
  border-radius: 50%;
  border: 4px solid black;
  position: relative;
  align-self: center;
  margin-top: 15px;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.2rem;
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 50%;
  background-color: #270f36;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: #270f36;
  z-index: 11;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.hour {
  width: 5px;
  height: 35%;
  border-color: #f09f9c;
}

.clock .hand.minute {
  --rotation: 60;
  width: 5px;
  height: 30%;
  background-color: #270f36;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock .hand.minute4 {
  --rotation: 120;
  width: 5px;
  height: 30%;
  background-color: #270f36;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.minute6 {
  --rotation: 180;
  width: 5px;
  height: 30%;
  background-color: #270f36;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.minute8 {
  --rotation: 240;
  width: 5px;
  height: 30%;
  background-color: #270f36;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

/* Hieronder begint de CSS voor de timer

CSS for the timer starts below*/

.container-timer {
  padding-top: 14em;
  padding-bottom: 14em;
  text-align: center;
}

.timer {
  font-size: 6rem;
  display: inline;
}

.btn-timer {
  width: 200px;
  justify-content: center;
}

/* footer */

h6 {
  padding: 1em;
  margin-bottom: 0px;
}
